<body>
  <br>
<form [formGroup]="loginForm">
  

  <div class="mb-3">
    <label for="exampleInputEmail1" class="letra"><h5>Email address</h5></label>
    <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
<div *ngIf="email.invalid && (email.dirty || email.touched)"
class="alert alert-danger"
>
<div *ngIf="email.errors?.['required']">El Email es requerido.</div>
<div *ngIf="email.errors?.['email']">
 El Email tiene que tener un formato valido.
</div>

</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="letra"><h5>Password</h5></label>
    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
    <div *ngIf="password.invalid && (password.dirty || password.touched)"
class="alert alert-danger"
>
<div *ngIf="password.errors?.['required']">El password es requerido.</div>

</div>
  </div>
  
  <button type="submit" (click)="login()" class="btn btn-primary">Submit</button>
</form>
</body>