<body>
    <nav class="navbar ">
        <div class="container">
          <button class="navbartoggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="logo">
            <button class="image-button" aria-label="Botón de imagen" (click)="onImageClick()">
              <img class="log" src="../assets/img/log.PNG" alt="Descripción de la imagen" />
            </button>
          </div>
          <div class="tienda">
            <button class="image-button" aria-label="Botón de imagen" (click)="onImageClick()">
              <img class="tien" src="../assets/img/tien.png" alt="Descripción de la imagen" />
            </button>
          </div>
        </div>
      </nav>
      
      <footer class="footer-menu ">
        <nav>
          <div class="footer-container">
            <!-- Logo -->
            <!-- Enlaces de contacto -->
            <ul class="menu">
              <li>
    
                <a class="marcaB" href="https://account.microsoft.com/profile/?refd=outlook.live.com&client_flight=cmmxntmn2zi&status=cancelled&res=acw_landing_page_cancelled">
                  
                  <img src="assets/img/correo-electronico.png" width="5%" alt="Correo Electrónico">
                
                <p>Portal_Studios@gmail.com</p>
              </a>
    
              <hr>
    
                <a class="logo2" href="">
                  <img class="logo" src="assets/img/log.PNG" width="15%" alt="Logo">
              
                </a>
    
              </li>
              
              <!-- Enlace de Mapa -->
              <li>
                <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.173469515443!2d-98.19278932605079!3d19.01207625397868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc09c9e9b4e4b%3A0x10efcd3051fad88b!2sMamitas%20Club%20Puebla!5e0!3m2!1ses-419!2smx!4v1732164758896!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="350" height="65" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
              </iframe><a class="mapM" href="https://maps.app.goo.gl/UBMA5iPXANWMCuwG8" ><!--<p>Cto Juan Pablo II 2457, La Hacienda, 72570 Heroica Puebla de Zaragoza, Pue.</p>--></a><br>
            
                </div>
              </li>
      
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!-- Enlaces de Redes Sociales -->
               
              <li>
                <a href="https://wa.me/+524494377355">
                  <img src="assets/img/whatsapp (1).png" width="6%" alt="WhatsApp">
                  <p>Para mas ayuda</p>
                </a>
                <hr>
                <a href="https://www.instagram.com/brazzersofficial/">
                  <img src="assets/img/insta.png" width="6%" alt="Instagram">
                  <p>@portal_studios</p>
                </a>
              </li>
               
            </ul>
          </div>
        </nav>
      </footer>
      
    </body>